<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="DBNames" value="*Public/CypressNCPd,*Public/DG NET Locald,"/>
    <!--<add key="DBNameOverride" value="*Public/DG16-DG160X"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
  </system.web>
</configuration>