<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- 
    Put Database Names, in the order you want the app to connect, in the `DBNames` key. 
    -->
    <add key="DBNames" value="*Public/CypressNCPd,*Public/DG NET Locald,"/>
    
    <!--
    If provided, the Database Name provided by the `DBNameOverride` key is the _only_
    Database Name that is used.
    -->
    <!--<add key="DBNameOverride" value="*Public/DG16-DG160X"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
  </system.web>
</configuration>